/debhelper-build-stamp
/files
/*.debhelper.log
/*.substvars

/compton-conf-translations/
/libfm-qt-translations/
/liblxqt-translations/
/lximage-qt-translations/
/lxqt-about-translations/
/lxqt-globalkeys-translations/
/lxqt-openssh-askpass-translations/
/lxqt-policykit-translations/
/lxqt-powermanagement-translations/
/lxqt-runner-translations/
/lxqt-session-translations/
/lxqt-sudo-translations/
/obconf-qt-translations/
/pcmanfm-qt-translations/
/qterminal-translations/

/tmp
